---
import "../styles/global.css";
import Desktopbilled from "../components/Desktopbilled-1.astro";
import Footer from "../components/Footer.astro";
import tesktfeltside1 from "../components/tekstfeltside1.astro";
import Header from "../components/Header.astro";
import Desktopbilled1 from "../components/Desktopbilled-1.astro";
import Tekstfeltside1 from "../components/tekstfeltside1.astro";
import Menukort from "../components/Menukort.astro";
---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Café Karen</title>
  </head>

  <body>
      <header class="header">
<nav class="nav">
    <h1>ARRANGEMENTER</h1>
    <h1>CAFÉ KAREN</h1>
    <h1>UDLEJLING</h1>
    <h1>OM HUSET</h1>
</nav>
</header>
    <style>
    .header{
        background-color: 54203A;
        padding: 20px 40px;
    }

    .nav{
display:flex;
gap:130px;
margin: 10px;
padding: 10px;
    }
</style>
    </header>

    <main>
      <div class="grid">
      <img src="/Images/folkspiserudenfor.jfif" class="billed1" alt="billed">
<article class="tekst1">
      <h2>Café Karen, Hvem er vi?</h2>
      <p>Vores Café er placeret i karens minde kulturhus 
og det kan man mærke ved de folk som kommer her, alt fra børnefamilier,
 studerende og gamle aktivister til stamkunder og de mange andre,
  bydes hjerteligt velkommen i vores hyggelige rammer.</p>
</article>



<article class="tekst2">
      <h2>Åbningstider</h2>
      <ul>
        <li> <p>Mandag: 12-16 (kun kaffe åbent)</p></li>
        <li> <p>Tirsdag: 12-17</p></li>
        <li> <p>Onsdag: 12-20</p></li>
        <li><p>Torsdag: 12-20</p></li>
        <li><p>Fredag: 12-16</p></li>
        <li><p>Lørdag: Lukket</p></li>
        <li><p>Søndag: Lukket</p></li>

      </ul>
</article>

<img src="/Images/stage 1.png" class="Doodle2" alt="doodle 2">

      <img src="/Images/folkspiserindenforblaa.jfif"  class="billed2" alt="billed">
</div>
      <style>
        .grid{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(12, 1fr);
            margin: 30px;
        }

        .billed1{
            grid-column: span 6;
            grid-row: span 3;
           border: 5px solid var(--color-grøn);
        }

        .tekst1{
            grid-column: span 4/12;
            grid-row: 2/4;
           }
      

        .tekst2{
            grid-column: span 4/6;
            grid-row:  5/6;
        }
        
        .billed2{
            grid-column: span 6/13;
            grid-row: span 3;
            border: 5px solid var(--color-grøn);
        }

      </style>

      <article class="grid-1-1">
        <div>
  <img src="public/Images/plakat1.webp" alt="plakat" />
 </div>
  <div>
  <img src="public/Images/madbillede.png" alt="Blandet_billeder" />
  </div>
  </article>

  <article class="grid-1-1">
    <div>
  <img src="public/Images/plakat2.webp" alt="plakat" />
  </div>
  <div class="filosofi">
  <h2>Vores køkken filosofi</h2>
  <p>
    I vores køkken har vi en stor kærlighed til håndværket, og laver alt fra bunden, med gode råvarer som sikrer en høj kvalitet.</p>
    <p> I vores køkken drager vi inspiration fra både det globale og det klassiske danske køkken.</p>
    <p>Ingredienserne består så vidt muligt af gode økologiske råvarer, nogenlunde 80% af vores ingredienser, det er med til at sørge for den gode smag og de flotte anretninger, oftest komponeret af vores kok Simon.</p>
    <p>Fordi vi fokusere på økologi og sæsonbaserede råvarer har vi et mindre udvalg af mad, som varierer fra uge til uge, så kom forbi og se hvad vi serverer eller check vores instagram hvor vores opdaterende menu altid står klar:)
  </p>
  </div>
</article>

<style>
  .grid-1-1 {
    display: flex;
    gap: 100px;
    margin: 40px;
    padding: 20px;
    align-items: center;
  }

   .grid-1-1 img{
    width: 600px;
  }

.filosofi p{
  padding: 5px;
}
</style>

     <section class="flex">
  <div>
<h2>
    Fællesspisning
</h2>

<p>
    Vi har fællesspisning hver torsdag her i Café Karen.
</p>

<p>
    Voksne: 105 kr
</br>
Børn: 50 kr (op til 12 år)
</p>

<p>
    Billetter købes her: https://billetto.dk/users/karens-minde-kulturhus
</p>

<p>
    Maden serveres kl 18.00 og dagens menu bliver serveret af vores dejlige personale.
</p>

<p>
    Der er altid et vegetarisk alternativ hvis du kontakter køkkenet på forhånd.
</p>

<p>
  Menu for fællesspisning 12. februar:
</br>
Karens Coq au vin. Serveres med kartoffel/rodfrugt mos og hjemmebagt madbrød.
</p>

<p class="gavekort">
Gavekort:
</br>
Giv en Sydhavns-oplevelse til en ven. Køb et gavekort til Café Karen. Gavekortet kan købes ved personligt fremmøde i caféen.
</p>
</div>
<div class="billeder">
<img class="spisning" src="public/Images/spisning.webp" alt="spisning">
<img class="maps" src="public/Images/maps.webp" alt="maps">
</div>
</section>

<style>
.flex {
    display: flex;
    margin: 70px;
    gap: 50px;
    justify-content: center;
}
p{
    margin-top: 20px;
}

.spisning {
    width: 700px;
}

.maps {
    width: 450px;
    margin-top: 30px;
}

.billeder {
    place-items: center;
}

.gavekort {
    margin-top: 200px;
}

</style>

    </main>

    <footer>
    <section class="grid-1-1-1-1">
        <div>
    <h3>
    Kontakt
</h3>
<p>
    Karens Minde Kulturhus
</br>
    Wagnersvej 19
    </br>
    2450 København SV
    </br>
</p>
<ul>
    <li><p>→ Kort</p></li>
    <li><p>→ Find medarbejder</p></li>
    <li><p>→ Privatpoltik</p></li>
</ul>
 </div>
 <div>
<h3>
    Karens Minde er også
</h3>
<ul>
    <li><p>→ Sydhavnens biblotek</p></li>
    <li><p>→ Børnekulturstedet</p></li>
    <li><p>→ Sydhavn Teater</p></li>
     <li><p>→ Børnenes Dyremark</p></li>
    <li><p>→ Kgs. Enghave Lokalhistoriske Arkiv</p></li>
    <li><p>→ Kongens Enghave Lokaludvalg</p></li>
</ul>
</div>
<div>

<h3>
    Nyhedsbrev
</h3>
<ul>
    <li><p>→ Tilmeld dig her</p></li></ul>
</div>

<div>
    <h3>
    Bliv frivilig
</h3>
<p>
    Hele husets eksistens hviler på frivilliges indsats.
</p>
<ul>
    <li><p>→ Se hvordan du bliver en del af os!</p></li>
</ul>
</div>

<div>
<ul>
    <li><img src="public/Images/insta.png" alt="instagram"></li>
    <li><img src="public/Images/facebook.png" alt="facebook"></li>
    <li><img src="public/Images/sog.png" alt="søg"></li>
     <li><img src="public/Images/mail.png" alt="mail"></li>
</ul>
</div>
</section>
</footer>



<style>
.grid-1-1-1-1 {
    display: flex;
    gap: 165px;
    margin: 80px;
    border-top: 1px solid var(--color-tekstfarve);
}

.grid-1-1-1-1 li p:hover{
    color: var(--color-hover);
}


.grid-1-1-1-1 li img {
    padding: 10px;
    height: 50px;
    width: 50px;
}

.grid-1-1-1-1 li img:hover{
    color: var(--color-hover);
}

.grid-1-1-1-1 h3{
    font-size: 0.8rem;
    margin-top: 20px;
}

.grid-1-1-1-1 p{
   font-size: 0.6rem;
   margin-top: 2px;
}
</style>

  </body>
</html>
