---
import "../styles/global.css";
import Desktopbilled from "../components/Desktopbilled-1.astro";
import Footer from "../components/Footer.astro";
import tesktfeltside1 from "../components/tekstfeltside1.astro";
import Header from "../components/Header.astro";
import Desktopbilled1 from "../components/Desktopbilled-1.astro";
import Tekstfeltside1 from "../components/tekstfeltside1.astro";
import Menukort from "../components/Menukort.astro";
---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Café Karen</title>
  </head>

  <body>
    <header>
      <h1>HER TESTER JEG HEADER</h1>
    </header>

    <main>
      <h1>HER TESTER JEG DESKTOP 1</h1>

      <div class="grid">
      <img src="/Images/folkspiserudenfor.jfif" class="billed1" alt="billed">
<article class="tekst1">
      <h2>Café Karen, Hvem er vi?</h2>
      <p>Vores Café er placeret i karens minde kulturhus 
og det kan man mærke ved de folk som kommer her, alt fra børnefamilier,
 studerende og gamle aktivister til stamkunder og de mange andre,
  bydes hjerteligt velkommen i vores hyggelige rammer.</p>
</article>

<img src="/Images/kop_kande 1.png" class="Doodle1" alt="doodle 1">

<article class="tekst2">
      <h2>Åbningstider</h2>
      <ul>
        <li>Mandag: 12-16 (kun kaffe åbent) </li>
        <li>Tirsdag: 12-17</li>
        <li>Onsdag: 12-20</li>
        <li>Torsdag: 12-20</li>
        <li>Fredag: 12-16</li>
        <li>Lørdag: Lukket </li>
        <li>Søndag: Lukket</li>

      </ul>
</article>

<img src="src/Images/stage 1.png" class="Doodle2" alt="doodle 2">

      <img src="src/Images/folkspiserindenforblaa.jfif"  class="billed2" alt="billed">
</div>
      <style>
        .grid{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows:  repeat(6, 1fr);
        }

        .billed1{
            grid-column: span 6;
            grid-row: span 3;
           
        }

        .tekst1{
            grid-column: span 4/12;
            grid-row: 2/4;
           }

           .Doodle1{
            position: absolute;
            z-index: 2;
            left: 10%;
           }
      

        .tekst2{
            grid-column: span 4/6;
            grid-row:  5/6;
        }

    
        
        .billed2{
            grid-column: span 6/13;
            grid-row: span 3;
        }

      </style>
<!-- 
      <h1>HER TESTER JEG DESKTOP 2+3</h1>

      <h1>HER TESTER JEG DESKTOP 4</h1>
      <Desktopbilled1 img="src/Images/folkspiserudenfor.jfif" />

      <Tekstfeltside1 title="Café Karen, Hvem er vi?" textfield="Vores Café er placeret i karens minde kulturhus 
og det kan man mærke ved de folk som kommer her, alt fra børnefamilier,
 studerende og gamle aktivister til stamkunder og de mange andre,
  bydes hjerteligt velkommen i vores hyggelige rammer." />

      <Desktopbilled1 img="src/Images/folkspiserindenforblaa.jfif" />

      <Tekstfeltside1 title="Åbningstider" textfield="Åbningstider: 

Mandag: 12-16 (kun kaffe åbent) 
Tirsdag: 12-17
Onsdag: 12-20
Torsdag: 12-20
Fredag: 12-16
Lørdag: Lukket 
Søndag: Lukket
" />

      <Menukort />
    </main>

    <footer>
      <h1>HER TESTER JEG FOOTER</h1>
    </footer>

    <h1>TEST 1</h1>
    <h2>Test 2</h2>
    <h3>Test 3</h3>
    <p>Test p</p>
  </body>
</html>
-->