---
import MainLayou from "../layouts/MainLayou.astro"
import Desktopbilled from "../components/Desktopbilled-1.astro"
import Footer from "../components/Footer.astro"
import tesktfeltside1 from "../components/tekstfeltside1.astro"
import Header from "../components/Header.astro"
import Desktopbilled1 from "../components/Desktopbilled-1.astro"
import Tekstfeltside1 from "../components/tekstfeltside1.astro"
---
 <html lang="da">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="src/styles/global.css">
    <title>Document</title>
 </head>
 <body>

<Desktopbilled1 img="src/Images/folkspiserudenfor.jfif"/>

<Tekstfeltside1 title="Café Karen, Hvem er vi?" textfield="Vores Café er placeret i karens minde kulturhus 
og det kan man mærke ved de folk som kommer her, alt fra børnefamilier,
 studerende og gamle aktivister til stamkunder og de mange andre,
  bydes hjerteligt velkommen i vores hyggelige rammer."/>

  <Desktopbilled1 img="src/Images/folkspiserindenforblaa.jfif"/>

  <Tekstfeltside1 title="Åbningstider" textfield="Åbningstider: 

Mandag: 12-16 (kun kaffe åbent) 
Tirsdag: 12-17
Onsdag: 12-20
Torsdag: 12-20
Fredag: 12-16
Lørdag: Lukket 
Søndag: Lukket
"/>




    <h1>TEST 1</h1>
<h2>Test 2</h2>
<h3>Test 3</h3>
<p>Test p</p>
 </body>
 </html>

 