---
---
<section class="flex">
  <div>
<h2>
    Fællesspisning
</h2>

<p>
    Vi har fællesspisning hver torsdag her i Café Karen.
</p>

<p>
    Voksne: 105 kr
</br>
Børn: 50 kr (op til 12 år)
</p>

<p>
    Billetter købes her: https://billetto.dk/users/karens-minde-kulturhus
</p>

<p>
    Maden serveres kl 18.00 og dagens menu bliver serveret af vores dejlige personale.
</p>

<p>
    Der er altid et vegetarisk alternativ hvis du kontakter køkkenet på forhånd.
</p>

<p>
  Menu for fællesspisning 12. februar:
</br>
Karens Coq au vin. Serveres med kartoffel/rodfrugt mos og hjemmebagt madbrød.
</p>

<p class="gavekort">
Gavekort:
</br>
Giv en Sydhavns-oplevelse til en ven. Køb et gavekort til Café Karen. Gavekortet kan købes ved personligt fremmøde i caféen.
</p>
</div>
<div class="billeder">
<img class="spisning" src="src/Images/spisning.webp" alt="spisning">
<img class="maps" src="src/Images/maps.webp" alt="maps">
</div>
</section>

<style>
.flex {
    display: flex;
    margin: 70px;
    gap: 50px;
    justify-content: center;
}
p{
    margin-top: 20px;
}

.spisning {
    width: 700px;
}

.maps {
    width: 450px;
    margin-top: 30px;
}

.billeder {
    place-items: center;
}

.gavekort {
    margin-top: 200px;
}

</style>
