---
---
<footer>
<h3>
    Kontakt
</h3>
<p>
    Karens Minde Kulturhus
    Wagnersvej 19
    2450 København SV
</p>
<ul>
    <li><p>- Kort</p></li>
    <li><p>- Find medarbejder</p></li>
    <li><p>- Privatpoltik</p></li>
</ul>

<h3>
    Karens Minde er også
</h3>
<ul>
    <li><p>- Sydhavnens biblotek</p></li>
    <li><p>- Børnekulturstedet</p></li>
    <li><p>- Sydhavn Teater</p></li>
     <li><p>- Børnenes Dyremark</p></li>
    <li><p>- Kgs. Enghave Lokalhistoriske Arkiv</p></li>
    <li><p>- Kongens Enghave Lokaludvalg</p></li>
</ul>

<h3>
    Nyhedsbrev
</h3>
<ul>
    <li><p>- Tilmeld dig her</p></li></ul>

    <h3>
    Kontakt
</h3>
<p>
    Hele husets eksistens hviler på frivilliges indsats.
</p>
<ul>
    <li><p>- Se hvordan du bliver en del af os!</p></li>
</ul>
</footer>