<header class="header">
<nav class="nav">
    <a href="#">ARRANGEMENTER</a>
    <a href="#">CAFÉ KAREN</a>
    <a href="#" >UDLEJLING</a>
    <a href="#">OM HUSET</a>
</nav>
</header>

<style>
    .header{
        background-color: 54203A;
        padding: 20px 40px;
    }

    .nav{
display:flex;
gap:40px;
    }

     .nav a {
        font-family: proto grotesk;
    color: #C09FA0;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .nav a.active {
    color: white;
  }
</style>