<header class="header">
<nav class="nav">
    <a href="/forside">ARRANGEMENTER</a>
    <a href="/forside">CAFÉ KAREN</a>
    <a href="/forside" >UDLEJLING</a>
    <a href="/forside">OM HUSET</a>
</nav>
</header>
    <style>
    .header{
        background-color: 54203A;
        padding: 20px 40px;
    }

    .nav{
display:flex;
gap:40px;
    }

     .nav a {
        font-family: "Proto Grotesk", sans-serif;
    color: #C09FA0;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 5px;
  }

  .nav a.active {
    color: white;
  }
</style>