---

---

<article>
    <img src="src/images/plakater-01.svg" alt="plakat">
    <img src="src/images/madbillede.png" alt="Blandet_billeder">
    <img src="src/images/plakater-02.svg" alt="plakat">
    <h3>Vores Køkken filosofi</h3>
    <p>I vores køkken har vi en stor kærlighed til håndværket, og laver alt fra bunden, med gode råvarer som sikrer en høj kvalitet. <br> I vores køkken drager vi inspiration fra både det globale og det klassiske danske køkken. <br> Ingredienserne består så vidt muligt af gode økologiske råvarer, nogenlunde 80% af vores ingredienser, det er med til at sørge for den gode smag og de flotte anretninger, oftest komponeret af vores kok Simon. <br>
fordi vi fokusere på økologi og sæsonbaserede råvarer har vi et mindre udvalg af mad, som varierer fra uge til uge, så kom forbi og se hvad vi serverer eller check vores instagram hvor vores opdaterende menu altid står klar:)</p>
</article>